. {
    tailscale {{ domain }}
{%- if hosts_file %}
    hosts {{ hosts_file }} {
        fallthrough
    }
{%- endif %}
{%- if forward_to %}
    forward . {{ forward_to }}
{%- endif %}
    log
    errors
}